.copyright{
    background-color:rgb(255, 255, 255);
    /* position:fixed; */
    bottom: 0px;
    height: 40px;
    /* height: auto; */
    width:100%;
    /* z-index: 10px; */
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
  
 }
.codemide-logo img{
  
   margin-left: 40px;
  

}
.copyright-name {
   
    margin-right: 20px;
    margin-top: 10px; 
}

/* For mobile devices (portrait and landscape) */
@media only screen and (max-width: 767px) {
   .copyright{
    height: 50px;
   }
}
  /* For tablets like iPads (portrait and landscape) */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
 
  }
  /* For laptops and desktops */
@media only screen and (min-width: 1025px) {
   
  }

 