.document-section{
    text-align: center;
    padding: 45px 20px 20px 0px;
    /* background-color: aliceblue; */
}
.document-title{
    font-size: 35px;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
}
.owl-carousel-section2{
    margin-left: 70px;
    margin-right: 30px;
}
.owl-carousel {
     margin-top: 45px;
}

.display-doc{
   border:2px solid rgb(241, 207, 132);
   border-radius: 20px;
   /* box-shadow: 1px 1px 30px #dcf7f7; */
   margin-right: 0px;
   width:200px;
   height:380px;
}

@media only screen and (max-width: 767px) {
    .display-doc{
        margin-right: 0px;
        margin-left: 10px;
        /* margin-top: 40px; */
        /* height:auto;
        width: auto; */
    }
    .document-section{
        padding-left: 8px;
        padding-top: 30px;
    }    
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .display-doc{
        margin-right: 20px;
        margin-top: 20px;
    } 
    .owl-carousel-section2 {
        margin-left: 83px;
    }
    .document-section{
       padding-right: 55px;
    }
}