.copyright{
    background-color:#fff;
    height: 40px;
    width:100%;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;   
  }
.codeDisha-logo img{
  height: 1.8rem;
  width: auto;
  display: block;
  margin-top:5px ;
   margin-left: 1.25rem;
}
.copyright-text {
    margin-right: 4rem;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
     color: #444;
    margin-top: 5px;
}

@media only screen and (max-width: 767px) {
  .copyright-name {
    font-size: 15px;
    margin-right: 20px;
  }
  .copyright{
    height: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
 
}

@media only screen and (min-width: 1025px) {
}

 