.copyright{
    background-color:rgb(255, 255, 255);
    height: 40px;
    width:100%;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;   
  }
.codemide-logo img{
   margin-left: 40px;
}
.copyright-name {
    margin-right: 65px;
    margin-top: 5px; 
}

/* For mobile devices (portrait and landscape) */
@media only screen and (max-width: 767px) {
  .copyright-name {
    font-size: 15px;
    margin-right: 20px;
  }
  .copyright{
    height: 50px;
  }
}

/* For tablets like iPads (portrait and landscape) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
 
}

/* For laptops and desktops */
@media only screen and (min-width: 1025px) {
}

 