.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.popup-content {
    background-color: white;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 20px;
    position: relative;
   
}
.popup-content h2 {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
}
.bootName{
    color: #ffa500;
}
.name, .email, .mobile{
  display: block;
  margin-bottom: 10px;
  width:94%;
  height: 50px;
  border-radius: 20px;
  padding-left: 20px;
  border: 0.5px solid #ffa500;
  letter-spacing: 2px;
 outline: #ffa500;
}
.name:focus, .email:focus, .mobile:focus {
    border-color: #ffa500;
}
.submit-btn{
    display: block;
    width:100%;
    height: 50px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #f0f8ff;
    background-color: #ffa500;
    color:#f0f8ff;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
    border: 1px solid  #f0f8ff;
    transition: transform 0.5s, background-color 1s;
}
.submit-btn:hover {
     background: #009378; 
    border: none;
}
.submit-btn:active {
    background-color: #009378; 
    transform: scale(0.9);
}
.close {
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
    font-size: 2.2rem;
    color: #ffa500;
    font-weight: bolder;
}
.error {
    color: rgb(252, 130, 130);
    margin-top: -5px;
    margin-bottom: 15px;
    margin-left: 10px;
}