body{
    background-color: rgb(235, 242, 248);
}
.signup_section{
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.sucessfull_img{
  margin-top: -50px;
}
.signup_info{
    padding: 0px 50px 20px 50px;
    top: 20%;
    position: absolute;
    background-color:#fdfffc;
    box-shadow: 5px 5px 10px rgb(219, 218, 217);
    border-radius: 10px;
}
.signup_title{
    text-align: center;
     /* color: #4ece12;  */
    font-family: "Nunito", sans-serif;
}
.signup_title p{
    margin: 0px;
}
.signup_title .rupes{
    margin: 10px 0px;
    font-size: 30px;
    font-weight: bold;
}
.signup_title .zero{
    color:rgb(95, 95, 95);
}
.signup_title .signup_name{
    font-size: 30px;
    color: rgb(91, 92, 88);
}
.signup_title .email{
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 13px;
}
.signup_details{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    font-family: "Nunito", sans-serif;
}
.Home-btn{
    text-align: center;
}
.Home-btn .whatsapp_img{
    margin-top: 15px;
}
.Home-btn a{
    text-decoration: none;
    color:rgb(11, 245, 11);
    font-size: 20px;
    font-weight: bold;
}
.whatsapp_link{
    margin-top:0px;
    margin-bottom: 10px ;
}
.whatsapp_link a:hover{
    color:#3c9aec;
}
.goToHome-btn{
    width:100%;
    height: 50px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #f0f8ff;
    background-color: #f59e09;
    color:#f0f8ff;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid  #f0f8ff;
    transition: transform 0.5s, background-color 1s;
    font-family: "Nunito", sans-serif;
    margin-top: 8px;
}
.goToHome-btn:hover {
     background: #009378; 
    border: none;
}
.goToHome-btn:active {
    background-color: #009378; 
    transform: scale(0.9);
}
@media only screen and (max-width: 767px) {
    .signup_title{
        font-size: 25px;
    }
    .signup_info{
        position:absolute;
        top: 28%;
        margin: 0px 20px;
        padding: 0px 25px 15px 25px;
    }
    .signup_details {
        font-size: 15px;
       
    }
}
/* For tablets like iPads (portrait and landscape) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .signup_info{
        position:absolute;
        top: 30%;
    }
}  
/* For laptops and desktops */
@media only screen and (min-width: 1025px) {
 
}
