*{
    margin:0px;
    padding:0px;
}
html{
   scroll-behavior: smooth; 
}
/*---------- Hedear Section -------------*/
header{
    border: 1px solid #000000;
    text-align: center;
    background-color:rgb(43, 36, 36);
    color: #ffffff;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Nunito", sans-serif;
    position: fixed;
    z-index: 2;
    width:100%;
}
.start{
    display: inline-block; 
}
.enroll-btn{
    display: inline-block;
    font-family: "Nunito", sans-serif;
    padding: 7px 20px;
    margin-left: 10px;
    border-radius: 50px;
    border: none;
    box-shadow: 1px 1px 5px #f0f8ff;
    background-color: #ffa500;
    color:#f0f8ff;;
    font-size: 1.2rem;
    font-weight: bold;
    transition: transform 0.5s, background-color 1s;
}
/* Button hover effect */
.enroll-btn:hover {
     background: #009378; 
    border: none;
}

/* Button click effect */
.enroll-btn:active {
    background-color: #009378; 
    transform: scale(0.9);
    /* transform-origin: top left;  */
}

/* .owl-carousel */
.owl-carousel {
    overflow-x: hidden;
}
.owl-theme .owl-dots{
    display:none;
}
.owl-carousel .owl-nav {
  margin-right: 5px;
}
.owl-carousel .owl-item img{
    width: 90%;
}
/* For mobile devices (portrait and landscape) */
@media only screen and (max-width: 767px) {
    html,body{
        overflow-x: hidden;
    }
    header{
        font-size: 12px;
        font-weight: bold;
    }
    .hmtlcss{
        display: none;
    }
    .enroll-btn{
        padding: 5px 10px;
        font-size: 15px;
        margin-left: 5px;
        
    }
    .owl-theme .owl-dots{
        display:none;
    }
    
 }
  /* For tablets like iPads (portrait and landscape) */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
 
  }  
  /* For laptops and desktops */
@media only screen and (min-width: 1025px) {
   
  }

 